body {
    background-image: url("sayagata-400px.png");
}

h1 {
  color: #42F0E4;
  font-family:"Verdana",sans-serif;
  text-align: center;
  text-decoration-style: dotted;
}


.border_panel{
  border: .2em solid black;
  border-style: outset;
  border-radius: 1em;
  width: 40%;
  margin: 5%;
  padding: 1em;
}
.border_panel h3 {
  text-align: center;
}
.panel_1 {
    background-color: #373737;
    color: #D5D5DF;
    text-align: center;
    text-emphasis-style: circle;
    border-style: outset;
    
}

.panel_2 {
    background-color: #f4f4f4;
}
.panel_3 {
    background-color: #dcd0c0;
}
.panel_4 {
    background-color: #c2B283;
}

.container-fluid {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.flex_container{
  display: flex;
}

#outer {
  padding: 2em;
  margin-left: 4em;
  margin-right: 4em;
  margin-top: 2em;
  margin-bottom: 2em;
}
